.ProductMainland {
    text-decoration: none;
}

a {
    text-decoration: none;
}

tr {
    border-bottom: 2px solid rgb(50, 50, 50);
}

td {
    color: rgb(200, 200, 200);
    padding-top: 20px;
    padding-right: 20px;
}

.EditDeleteContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.EditButton {
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin: 10px;
}

.DeleteButton {
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin: 10px;
}

.EditButton:hover {
    color: rgb(255, 175, 100);
    border: 2px solid rgb(255, 175, 100);
}

.DeleteButton:hover {
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0)
}

.EntityBankLinkText {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 3px;
    padding: 20px;
}
.EntityBankLinkText:hover {
    color: rgb(255, 175, 100);
    border: 2px solid rgb(255, 175, 100);
}

table {
    margin-left: auto;
    margin-right: auto;
}