p {
    margin: 0px;
}

tr {
    border-bottom: 2px solid rgb(50, 50, 50);
}

td {
    color: rgb(200, 200, 200);
    padding-top: 20px;
    padding-right: 20px;
    font-family: Jost, sans-serif;
}

.Button {
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin: 10px;
    font-family: Jost, sans-serif;
}
.Button:hover {
    color: rgb(255, 175, 100);
    border: 2px solid rgb(255, 175, 100);
}

.Anchor {
    text-decoration: underline;
    color: rgb(255, 175, 100);
}
.Anchor:hover {
    color: rgb(200, 200, 200)
}

.FormControl {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border: none;
}
.FormControl:focus {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    box-shadow: none;
}
.FormControl:hover {
    border: none;
    box-shadow: none;
    color: rgb(255, 175, 100);
}
.FormControl::placeholder {
    color: rgb(100, 100, 100);
}

.SaveButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}