.MainContainer, .SubContainer {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 40px;
    min-height: 100%;
}

.EntityBankComponentView {
    display: flex;
    height: 100%;
}

.CreateButton {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 3px;
    padding: 20px;
}
.CreateButton:hover {
    color: rgb(255, 175, 100);
    border: 2px solid rgb(255, 175, 100);
}

h1 {
    text-align: center;
}

.ScrollableList {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 2px;
    height: 61vh;
    overflow-y: scroll;
    overflow-x: hidden;
}