.ProductMainland {
    text-decoration: none;
}

a {
    text-decoration: none;
}

tr {
    border-bottom: 2px solid rgb(50, 50, 50);
}

td {
    color: rgb(200, 200, 200);
    padding-top: 20px;
    padding-right: 20px;
}

.EditDeleteDiv {
    margin-top: 10px;
    display: flex;
    text-align: center;
}

.EditButton {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 90px;
}

.DeleteButton {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 90px;
    margin-left: 20px;
}

.EditButton:hover {
    color: rgb(255, 175, 100);
    border: 1px solid rgb(255, 175, 100);
}

.DeleteButton:hover {
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0)
}

.ProductLinkText {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 3px;
    padding: 20px;
}
.ProductLinkText:hover {
    color: rgb(255, 175, 100);
    border: 2px solid rgb(255, 175, 100);
}


.ProductLinkLocation {
    text-align: right;
    margin-bottom: 10px;
}
