.AppContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.MainViewContainer {
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 0px;

    flex-grow: 1;
    overflow-y: auto;
}
.NavBarContainer {
    margin: 20px;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 5px;
    height: auto;
}

p, h1 {
    font-family: Jost, sans-serif;
}